<div class="grid_12">
	<hr/>
</div>
<div class="clear"></div>
<div class="grid_9">&nbsp;</div>
<div class="grid_3">
	<a href="javascript:hide_advanced()" class="button">Hide fine-grained control.</a>
</div>
<div class="clear"></div>
<div class="grid_6">
	<div id="exceptions">
		{% include 'telltrail/control/exceptions_view.html' %}
	</div>
</div>
<div class="grid_6">
	<div id="specific_policies">
		{% include 'telltrail/control/specific_policy_view.html' %}
	</div>
</div>
<div class="clear"></div>