<div class="grid_12 centered">
	<h1>Tell Trail</h1>
	<h4>Your identity. Your way.</h4>
</div>
<div class="clear"></div>
<div class="grid_4">&nbsp;</div>
<div class="grid_4 centered">
	<p>Data.  It's everywhere, and every time you visit a web site data is collected about you regarding the things you say and do.</p>
	<p>Simply opting out is difficult, because it also means opting out of valuable products, services and communities, and of personalized service.</p>
	<p>There is, however, an alternative.  Through <strong>TellTrail</strong>, you can specify the conditions under which your data may be used, and by whom.  <strong>TellTrail</strong> puts you in control of data collected about you.</p>
	<h4><a href="/signup/">Put Me In Control</a></h4>
	<p><strong>-or-</strong></p>
	<h4><a href="/about/">Find Out More</a></h4>
</div>
<div class="grid_4">&nbsp;</div>
<div class="clear"></div>